.navbar {
    background-color: transparent;
    padding: 30px 56px;
  }
  
  .navbar-sm {
    padding: 30px 24px;
  }
  
  .brand {
    height: 36px;
  }
  
  .brand-sm {
    height: 30px;
  }
  
  .active {
    color: #3d5afe;
  }