<div class="container">
    <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start" style="padding: 4px;">
        <div fxFLex="0">
            <img src="../../assets/images/download.jpg" height="300px" width="auto" style="margin-bottom: 36px;">
            <h1 class="mat-display-1"><b>Rich dad poor dad</b></h1>
            <p>By: Robert T. Kiyosaki</p>
            <h4>Genre:  Finance Book</h4>
            <h4>Page Count:  239</h4>
            <h4>Publisher:  Manjul</h4>
            <h4>Language:  English</h4>
            <br>
            <h1><b>About this edition</b></h1>
            <p>Rich Dad Poor Dad is written in the style of a set of parables, ostensibly based on Kiyosaki's life.[1] The titular "rich dad" is purportedly his friend's father who accumulated wealth due to entrepreneurship and savvy investing, while the "poor dad" is claimed to be Kiyosaki's own father who he says worked hard all his life but never obtained financial security. However, no one has ever proven that Rich Dad, the man who supposedly gave Kiyosaki all his advice for wealthy living, ever existed. Nor has anyone ever documented any vast reserves of wealth earned by Kiyosaki prior to the publication of Rich Dad Poor Dad in 1997.</p>
            <div>
                <button mat-stroked-button color="primary" style="margin-right: 8px;" routerLink="/books/1/edit">Edit</button> 
                <button mat-flat-button color="warn">Delete</button>
            </div>
        </div>
    </div>
</div>