<div fxLayout.lt-md="column" fxLayout.gt-md="row" fxLayoutAlign="space-evenly center" class="box"
    [ngClass.lt-md]="'box-lt-md'">
    <div class="container">
        <img src="../../assets/images/image.jpg" height="auto" width="360px">
        <br><br>
        <h1><b>Discover Books!</b></h1>
        <h4>Find and read more books you'll love, and keep track of the books you want to read.</h4>
        <button mat-flat-button color="primary" routerLink="/books">Explore Books</button>
    </div>
</div>