<div fxLayout.lt-md="column" fxLayout.gt-md="row" fxLayoutAlign="space-evenly center" class="box"
    [ngClass.lt-md]="'box-lt-md'">
    <div fxFlex="50">
        <h1 class="mat-display-1" style="margin-bottom: 10px;">Discover books you'll love!
        </h1>
        <p>Real readers' favorite books to provide book recommendations and suggestions for
            what to read next.</p>
        <button mat-flat-button color="primary" routerLink="/signup">Get Started</button>
    </div>
    <div fxFlex="50">
        <img class="illustration" src="../../assets/images/welcome.png" alt="illustration">
    </div>
</div>