<div class="container">
    <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start" style="padding: 4px;">
        <div fxFLex="0">
            <img src="../../assets/images/author.jpeg" height="300px" width="auto" style="margin-bottom: 36px;">
            <h1 class="mat-display-1"><b>Robert T. kiyosaki</b></h1>
            <br>
            <h1><b>About author</b></h1>
            <p>Robert Toru Kiyosaki (born April 8, 1947) is an American businessman and author. Kiyosaki is the founder of Rich Global LLC and the Rich Dad Company, a private financial education company that provides personal finance and business education to people through books and videos.</p>
        </div>
    </div>
</div>